:root {
    --Cyan-color: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
* {
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background-color: var(--Light-Gray);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    width: 653px;
    margin: 2rem auto;
    border-radius: 12px;
    overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.container .card1 {
    background-color: white;
    width: 100%;
    padding: 2rem;
    border-radius: 12px 12px 0 0;
    line-height: 1.4;
}
.container .card1 h1 {
    font-size: 1.65rem;
    color: var(--Cyan-color);
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.container .card1 h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    color: var(--Bright-Yellow);
}
.container .card1 p {
    font-size: 1.1rem;
    color: var(--Grayish-Blue);
    margin-bottom: 2rem;
    padding-left: 0.5rem;
}
.container2 {
    display: flex;
}
.container2 > * {
    flex: 1;
}
.container2 .card2 {
    display: flex;
    flex-direction: column;
    background-color: var(--Cyan-color);
    padding: 1.5rem;
    padding-right: 0rem;
}
.container2 .card2 span {
    font-size: 1.1rem;
    color: #a1d3d47a;
}
.container2 .card2 h3 {
    color: aliceblue;
    padding-bottom: 0.45rem;
    padding-left: 1.1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
}
.container2 h4 {
    color: aliceblue;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.1rem;
}
.container2 p {
    color: aliceblue;
    font-size: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1.1rem;
}
.container2 .card2 button {
    background-color: var(--Bright-Yellow);
    color: var(--Light-Gray);
    width: 240px;
    padding: 0.8rem  0.8rem 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1.1rem;
    box-shadow: 1.5px 1.5px  15px gray;
    font-weight: bolder;
}
.card2 button:hover {
    background-color: var(--Light-Gray);
    cursor: pointer;
    transition: all 0.3s ease;
}
.card2 button:hover {
    color: rgb(33, 121, 102);
}
.container3 .card3 {
    display: flex;
    flex-direction: column;
    padding: 2.1rem;
    line-height: 1.3;
    background-color: hsla(179, 62%, 43%, 0.884); 
}
.container3 .card3 h3 {
    color: var(--Light-Gray);
    padding-bottom: 1.5rem;
    padding-top: 0.15rem;
    padding-left: 0.6rem;
}
.container3 .card3 p {
    font-weight: 300;
    font-size: 15px;
    margin-right: 15px;
    color: var(--Light-Gray);
    padding-left: 0.6rem;
}
@media screen and (max-width: 653px) {
    .container2 {
        flex-direction: column;
      }
      .container3 .card3 {
        border-radius: 0 0 12px 12px;
      }
}
